.c-btn.slip {
  background: transparent;
  border: none;
  position: relative;
  border-radius: 0;
  z-index: 1;
  color: red;
}
.c-btn.slip::before,
.c-btn.slip::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  margin: auto;
  transition: .2s cubic-bezier(0.45, 0, 0.55, 1);
}
.c-btn.slip::before {
  background: #ffb509;
  border: 2px solid #ffb509;
  z-index: -1;
}
.c-btn.slip::after {
  background: #fff6dc;
  z-index: -2;
}
.c-btn.slip:hover {
  color: #ffb509;
}
.c-btn.slip:hover::before {
  background: transparent;
}
.c-btn.slip:hover::after {
  top: 6px;
  left: 6px;
}